.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      %p.chat-main__group-info__left-box__group-name
        #{@group.name}
      %ul.chat-main__group-info__left-box__member
        Members:
        - @group.users.each do |user|
          %li.chat-main__group-info__left-box__member__name #{user.name}
    .chat-main__group-info__edit
      = link_to 'Edit', edit_group_path(@group), class: 'edit-btn'
  .chat-main__message-list
    .chat-main__message-list__message
      = render @messages

  .chat-main__form
    .chat-main__form__new-message
      = form_for [@group, @message] do |f|
        .chat-main__form__new-message__input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            %i.fa.fa-image
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit-btn'
